<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; font-src 'self' data: fonts.googleapis.com;">-->
    <link href="css/bootstrap.css" rel="stylesheet" id="bootstrap-css">
    <link href="css/stylesheet.css" rel="stylesheet" id="custom-css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">
    <script src="js/dist/all.js"></script>
</head>

<body>
    <header>
        <div class="container" id="header">
            <div class="navbar-brand"><a href="login.html">
                    <img class="logo-header" src="res/logo_de.svg" alt="Optigrün international AG">
                </a></div>
            <div class="navbar-buttons row">
                <a class="btn-header btn" href="user.html">Nutzerbereich</a>
                <a class="btn-header btn" href="">Logout</a>
            </div>
        </div>
    </header>


    <div class="content" id="objekt">
        <div class="container new-c">
            <div class="col-md-4 object-navbar">
                <h4 class="text-center">Fortschrittsbalken</h4>
                <div class="profile-usermenu">
                    <ul class="nav-user">
                        <li>
                            <button type="button" class="btn" v-on:click="type = 'info'">
                                <span> <i class="far fa-circle user-icons"></i></span>
                                <span>Allgemeine Informationen</span> </button>
                        </li>
                        <li>
                            <button type="button" class="btn" v-on:click="type = 'adata'">
                                <span> <i class="far fa-circle user-icons"></i></span>
                                <span>Grunddaten</span> </button>
                        </li>
                        <li>
                            <button type="button" class="btn" v-on:click="type = 'roof'">
                                <span> <i class="far fa-circle user-icons"> </i></span>
                                <span>Dachflächen</span> </button>
                            <ul class="list-in-list">
                                <li>
                                    <button type="button" class="btn" v-on:click="type = 'rdata'">
                                        <span> <i class="far fa-circle user-icons"> </i></span>
                                        <span>Grunddaten</span> </button>
                                </li>
                                <li>
                                    <button type="button" class="btn" v-on:click="type = 'green'">
                                        <span> <i class="far fa-circle user-icons"> </i></span>
                                        <span>Begrünter Teil</span> </button>
                                </li>
                                <li>
                                    <button type="button" class="btn" v-on:click="type = 'ngreen'">
                                        <span> <i class="far fa-circle user-icons"> </i></span>
                                        <span>Unbegrünter Teil</span> </button>
                                </li>
                                <li>
                                    <button type="button" class="btn" v-on:click="type = 'oarea'">
                                        <span> <i class="far fa-circle user-icons"> </i></span>
                                        <span>Weitere Flächen</span> </button>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <button type="button" class="btn" v-on:click="type = 'rwm'">
                                <span> <i class="far fa-circle user-icons"> </i></span>
                                <span>RWM Elemente</span> </button>
                        </li>
                        <li>
                            <button type="button" class="btn" v-on:click="type = 'conn'">
                                <span> <i class="far fa-circle user-icons"> </i></span>
                                <span>Verknüpfung von Dachflächen</span> </button>

                        </li>
                        <li>
                            <button type="button" class="btn" v-on:click="type = 'dim'">
                                <span> <i class="far fa-circle user-icons"> </i></span>
                                <span>Dimensionsanforderungen</span> </button>
                        </li>
                        <li>
                            <button type="button" class="btn" v-on:click="type = 'check'">
                                <span> <i class="far fa-circle user-icons"> </i></span>
                                <span>Überprüfen und absenden</span> </button>
                        </li>
                    </ul>
                </div>
            </div>

            <form class="div-data">
                <div v-if="type === 'info'">
                    <p class="user-heading" id="informationen">
                        Bevor wir mit der Objektanlage starten, so möchten wir kurz über den Ablauf der Objektanlage und
                        die
                        erforderlichen Unterlagen informieren: <br class="br-height">

                        <span class="text-bold"> Ablauf: <br> </span>
                        Sie werden systematisch mit direkten Fragestellungen durch die Objektanlage geführt. Die
                        erforderlichen
                        Angaben werden Schritt für Schritt abgefragt. <br class="br-height">

                        <span class="text-bold"> Notwendige Unterlagen: <br> </span>
                        Um die Objektanlage in möglichst kurzer Zeit durchzuführen, sollten Sie folgende
                        Unterlagen/Informationen bereithalten: <br>
                        <ul>
                        <li>Dachaufsichtsplan mit vermaßten Flächenarten (Grün, Kies, Gehwegflächen, etc.) </li>
                        <li>Informationen über Dachtypen (Umkehrdach, Warmdach, ungedämtes Dach, etc.) </li>
                        <li>Informationen über die Dachaufbauten (Grün-, Verkehrsdachhöhen, etc.) </li>
                        <li> Informationen über die regenwassertechnische Verknüpfung der Dachflächen (Das Regenwasser welcher Dachflächen fliesst wohin?) </li>
                        <li> ggf. Informationen über den max. Zufluss zur Kanalisation </li>
                        </ul>
                       <br>

                        Wenn Sie die oben genannten Unterlagen/Informationen griffbereit haben, dann werden Sie die
                        Objektanlage
                        zügig durchführen können. <br class="br-height">

                        Je nach Gesamtanzahl der Einzelflächen (nach Flächenarten: Kies, Grün, Gehweg, etc.) und
                        Dachflächen
                        werden Sie unterschiedlich lange für die Objektanlage brauchen. <br class="br-height">
                    </p>
                </div>

                <div class="content-data" id="grundlegendeDaten" v-if="type === 'adata'">
                    <p> Wir freuen uns Ihnen bei Ihrem Objekt behilflich sein zu können <br> </p>
                    <p class="text-bold"> Zu Beginn benötigen wir die folgenden grundlegenden Daten: <br> <br> </p>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt">Objektname</label>
                                <input class="form-control text-input label-big" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt">Individuelle Kennzeichnung (optional)</label>
                                <input class="form-control text-input label-big" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt">Straße</label>
                                <input class="form-control text-input label-big" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt">Hausnummer</label>
                                <input class="form-control text-input label-big" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt">PLZ</label>
                                <input class="form-control text-input label-big" type="text">
                            </div>
                        </div>
                </div>

                <div class="row" v-if="type === 'roof'" style="flex-wrap:nowrap;" id="Dachflaechen">
                    <div class="content-data">
                        <p>Zunächst müssen wir festlegen wie viele Dachflächen betrachtet werden sollen. </p>
                        <div class="form-group" style="display: flex; flex-direction: row;">
                            <div class="input-group">
                                <label class="label-objekt">Wie viele Dachflächen sollen insgesamt bzgl. des
                                    Regenwassermanagements in die Betrachtung mit einbezogen werden?</label>
                                <input v-model.number="anzahl" pattern='^[0-9]+$' style="max-width: 5em;" class="form-control text-input" placeholder="Stück"
                                    type="text">
                                   
                            </div>
                        </div>        
                        <p>anzahl: {{anzahl}} </p>
                        <p style="margin-top:1em;"> <span class="text-bold">Hinweis</span>: Dachflächen gelten dann als
                            eine Fläche, wenn diese zusammenhängend sind.
                            D.h. auf der selben Höhe liegen und nicht durch eine Aufkantung oder einen
                            Höhenversprung getrennt sind. Eine Dachfläche stellt eine regenwassertechnische Einheit dar.
                        </p>
                     
                    </div>
                    <img src="res/architect2.jpg" alt="Architekt "
                        style="margin-left:4em;height:100%;width:100%;max-height:100%;max-width:40%;">
                </div>


                <div class="content-data" id="DachflaecheX" style="display:none;">
                    <p>Vielen Dank. <br> Nun benötigen wir Angaben zu den einzelnen Flächen. <br class="br-height">
                        Wir werden nun systematisch alle von Ihnen angegebenen Dachflächen abfragen. <br>
                        Hierbei benötigen wir Informationen zu den unterschiedlichen Aufbauten auf den einzelnen
                        Dachflächen (Begrünung, Kies, Gehwege, etc.)
                        <br>Sie werden im folgenden der Reihe nach durch die einzelnen Fragen geführt. <br
                            class="br-height">
                        <span class="text-bold"> Beginnen wir nun mit der 1. Dachfläche </span></p>

                </div>

                <div class="content-data" v-if="type === 'rdata'" id="DachflaecheXGrunddaten">
                    <div class="form-group">
                        <div class="input-group">
                            <label class="label-objekt">Bitte geben Sie der Dachfläche einen Namen <br>
                                <span style="font-style: italic;"> Empfohlen: identische Bezeichnung wie in Ihren
                                    Planunterlagen
                                    wählen.</span></label>
                            <input class="form-control text-input label-big" placeholder="" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <label class="label-objekt">Ist die Dachfläche eine reine Grünfläche, eine reine
                                Verkehrsfläche oder eine Mischfläche (Bspw. Grün-und Kies oder Grün und
                                Verkehrsfläche?)</span></label>
                            <select class="custom-select form-control text-input label-big">
                                <option value="" selected>Auswahl treffen</option>
                                <option value="greenroof">reine Grünfläche</option>
                                <option value="publicroof">reine Verkehrsfläche</option>
                                <option value="greenpublicroof">Mischfläche</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label class="label-objekt">Um welchen Dachtyp handelt es sich bei Dachfläche X?
                            </label>
                            <select class="custom-select form-control text-input" style="max-width: 30em;">
                                <option value="" selected>Auswahl treffen</option>
                                <option value="de">Warmdach</option>
                                <option value="at">Umkehrdach</option>
                                <option value="at">Kaltdach</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label class="label-objekt">Wieviel Prozent Gefälle besitzt die Dachfläche? </label>
                            <input class="form-control text-input label-big" placeholder="[%]" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label class="label-objekt">Soll die Dachfläche als Retentionsdach ausgeführt werden?
                            </label>
                            <select class="custom-select form-control text-input label-big">
                                <option value="" selected>Auswahl treffen</option>
                                <option value="de">Ja </option>
                                <option value="at">Nein </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label class="label-objekt">Wie groß ist die gesamte Dachfläche X? </label>
                            <input class="form-control text-input label-big" placeholder="[m²]" type="text">
                        </div>
                    </div>
                </div>

                <div class="row" v-if="type === 'green'" style="flex-wrap:nowrap;" id="Dachflaechen">
                    <div class="content-data">
                        <p class="text-bold">Nun benötigen wir Informationen zum begrünten Teil der Dachfläche X</p>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt"> <span class="text"
                                        style="text-decoration:underline">Vegetation</span> <br> welcher
                                    Vegetationstyp soll im begrünten Bereich der Dachfläche X verwendet werden?
                                </label>
                                <select class="custom-select form-control text-input label-big">
                                    <option value="" selected>Auswahl treffen</option>
                                    <option value="de">Option 1</option>
                                    <option value="at">Option 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt"> <span style="text-decoration:underline">Substrathöhe</span>
                                    <br> Was ist die geringste geplante Substrathöhe im begrünten Bereich der
                                    Dachfläche X?</label>
                                <input class="form-control text-input label-big" placeholder="[cm]" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group" style="flex-wrap: nowrap;">
                                <label class="label-objekt"> <span style="text-decoration:underline">Substrattyp</span>
                                    <br> Auf Basis Ihrer Eingabe empfehlen wir Ihnen folgenden Substrattyp.
                                    Sie können diesen bei Bedarf noch ändern.</label>
                                <select class="custom-select form-control text-input label-big">
                                    <option value="" selected>Auswahl treffen</option>
                                    <option value="de">Option 1</option>
                                    <option value="at">Option 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group" style="flex-wrap: nowrap;">
                                <label class="label-objekt"> <span style="text-decoration:underline">Drainschicht</span>
                                    <br> Auf Basis Ihrer Eingabe empfehlen wir Ihnen folgende Drainschicht.
                                    Sie können diese bei Bedarf ändern. </label>
                                <select class="custom-select form-control text-input label-big">
                                    <option value="" selected>Auswahl treffen</option>
                                    <option value="de">Option 1</option>
                                    <option value="at">Option 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt">Wie groß ist der begrünte Teil der Dachfläche X?</label>
                                <input class="form-control text-input label-big" placeholder="[m²]" type="text">
                            </div>
                        </div>
                    </div>
                    <img src="res/architect2.jpg" alt="Architekt"
                        style="margin-left:4em;height:100%;width:100%;max-height:80%;max-width:40%;">
                </div>

                <div class="content-data" id="ungegruentInformationen" style="display:none;">
                    <p> <span class="text-bold"> Nun benötigen wir Informationen zum Verkehrsbereich bzw. zum
                            unbegrünten Bereich der Dachfläche X: </span><br class="br-height">
                        Beginnen wir mit der 1. unbegrünten Teilfläche. <br> Bitte geben Sie unbegrünte Flächen mit
                        unterschiedlichen Beläge (z.B. Kiesflächen und Pflasterflächen)
                        als seperate Grünfläche an. <br> Sie haben anschließend die Möglichkeit weitere unbegrünte
                        Bereiche für diese Dachfläche anzugeben.
                        <br>(wie z.B. Schotterrasenflächen, Spielplätze etc.)
                    </p>
                </div>

                <div class="row" v-if="type === 'ngreen'" style="flex-wrap:nowrap;" id="unbegruenteflächeX">
                    <div class="content-data">
                        <p> <span class="text-bold">Nun zu den Detailinformationen zum unbegrünten Teilbereich Y der
                                Dachfläche X</span> <br>
                            Sie haben anschließend die Möglichkeit weitere unbegrünte Bereiche für diese Dachfläche
                            anzugeben.
                            (wie z.B. Schotterrasenflächen, Spielplätze etc.) </p>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt">Bitte geben Sie der unbegrünten Teilfächen einen
                                    Namen(empfohlen)</label>
                                <input class="form-control text-input label-big" placeholder="" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt"> <span style="text-decoration:underline">Belastung</span>
                                    <br> Welcher maximalen Belastung soll der unbegrünte Teilbereich Y der Dachfläche X
                                    ausgesetzt sein?</label>
                                <select class="custom-select form-control text-input label-big">
                                    <option value="" selected>Auswahl treffen</option>
                                    <option value="de">Option 1</option>
                                    <option value="at">Option 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt"> <span style="text-decoration:underline">Belag</span>
                                    <br>Welcher Belagstyp ist für den unbegrünten Teilbereich Y der Dachfläche X
                                    geplant?</label>
                                <select class="custom-select form-control text-input label-big">
                                    <option value="" selected>Auswahl treffen</option>
                                    <option value="de">Option 1</option>
                                    <option value="at">Option 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt"> <span style="text-decoration:underline">Schichthöhe</span>
                                    <br>Welche minimale Schichthöhe ist für den unbegrünten Teilbereich Y der Dachfläche
                                    X geplant?</label>
                                <select class="custom-select form-control text-input label-big">
                                    <option value="" selected>Auswahl treffen</option>
                                    <option value="de">Option 1</option>
                                    <option value="at">Option 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt"> <span style="text-decoration:underline">Drainschicht</span>
                                    <br>Aus Basis Ihrer Eingabe empfehlen wir Ihnen folgende Drainschicht. Sie können
                                    diese bei Bedarf ändern. </label>
                                <select class="custom-select form-control text-input label-big">
                                    <option value="" selected>Auswahl treffen</option>
                                    <option value="de">Option 1</option>
                                    <option value="at">Option 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt">Wie groß ist der unbegrünte Teil Y der Dachfläche X?</label>
                                <input class="form-control text-input label-big" placeholder="[m²]" type="text">
                            </div>
                        </div>
                    </div>
                    <img src="res/architect2.jpg" alt="Architekt "
                        style="margin-left:4em;height:100%;width:100%;max-height:70%;max-width:40%;">
                </div>
                
                <div v-if="type === 'oarea'" class="row" style="flex-wrap:nowrap;" id="unbegruenteflächeX">
                    <div class="content-data">
                        <p> <span class="text-bold">Befinden sich auf der Dachfläche X weitere Verkehrs-/bzw. unbegrünte
                                Flächen <br>
                            </span> (wie z.B. Schotterrasenflächen, Spielflächen etc.)?</p>
                        <span class="line-v">
                            <button class="btn btn-primary btn-block" style="margin-right: 1em;">Ja</button>
                            <button class="btn btn-primary btn-block">Nein</button>
                        </span>
                    </div>
                </div>
          
                <div v-if="type === 'rwm'" class="content-data" id="rwmElemente">
                    <div class="form-group">
                        <div class="input-group">
                            <label class="label-objekt"> <span style="text-decoration:underline">Entwässerung</span>
                                <br>Werden alle Dachflächen ausschließlich in die Kanalisation oder Vorfluter entwässert?
                            </label>
                            <select class="custom-select form-control text-input label-big" v-model="canal">
                                <option value="" selected>Auswahl treffen</option>
                                <option value=true>Ja</option>
                                <option value=false>Nein</option>
                            </select>
                        </div>
                    </div>
                    <div v-if="canal === 'false'">
                        <div class="form-group">
                            <div class="input-group">
                                <p>Sie haben angegeben, dass alle oder Teile der Dachflächen nicht in die Kanalisation
                                    entwässern. Bitte geben Sie hier an, wieviele der folgenden Elemente der
                                    Regenwasserbewirtschaftung verbaut werden sollen. Bitte beachten Sie, dass die
                                    folgenden
                                    Felder alle Pflichfelder sind. Falls Elemente nicht benötigt werden bitte 0
                                    eintragen.
                                    <br>Auf den folgenden Seiten werden
                                    Sie gebeten genauere Angaben zu den gewählten Elementen zu machen.
                                </p>
                                <label class="label-objekt"><span style="text-decoration:underline">Rigolen</span>
                                    <br>Geben Sie die Anzahl der Rigolen an, die geplant sind
                                </label>
                                <input class="form-control text-input label-big" placeholder="Stück" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt"><span style="text-decoration:underline">Mulden</span>
                                    <br>Geben Sie die Anzahl der Mulden an, die geplant sind
                                </label>
                                <input class="form-control text-input label-big" placeholder="Stück" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt"><span
                                        style="text-decoration:underline">Mulden-Rigolen</span>
                                    <br>Geben Sie die Anzahl der Mulden-Rigolen an, die geplant sind
                                </label>
                                <input class="form-control text-input label-big" placeholder="Stück" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt"><span
                                        style="text-decoration:underline">Stauraumkanäle</span>
                                    <br>Geben Sie die Anzahl der Stauraumkanäle an, die geplant sind
                                </label>
                                <input class="form-control text-input label-big" placeholder="Stück" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-data" id="rigoleX" style="display:none;">
                    <div class="form-group">
                        <div class="input-group">
                            <label class="label-objekt">Bitte geben Sie der Rigole einen Namen</label>
                            <input class="form-control text-input label-big" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label class="label-objekt">Verlässt das Wasser die Rigole nur über Versickerung oder
                                besteht ein zusätzlicher Ablauf?</label>
                            <select class="custom-select form-control text-input label-big">
                                <option value="" selected>Auswahl treffen</option>
                                <option value="de">Nur Versickerung</option>
                                <option value="at">Zusätzlicher Ablauf</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label class="label-objekt">Was sind die minimalen und maximalen Abflussraten des
                                Ablaufs?</label>
                            <input class="form-control text-input" style="max-width: 15em;"
                                placeholder="Min Qdros [l/s]" type="text">
                            <input class="form-control text-input" style="max-width: 15em;"
                                placeholder="Max Qdros [l/s]" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label class="label-objekt">Wieviel Platz haben Sie auf Ihrem Grundstück zur Verfügung?
                                Welche maximalen Abmaße darf die Rigole aufweisen?</label>
                            <input class="form-control text-input" style="max-width: 10em;" placeholder="Länge [m]"
                                type="text">
                            <input class="form-control text-input" style="max-width: 10em;" placeholder="Breite [m]"
                                type="text">
                            <input class="form-control text-input" style="max-width: 10em;" placeholder="Höhe [m]"
                                type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label class="label-objekt">Um welche Rigolenart handelt es sich?</label>
                            <select class="custom-select form-control text-input label-big">
                                <option value="" selected>Auswahl treffen</option>
                                <option value="de">Kunstoff</option>
                                <option value="at">Kies</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label class="label-objekt">Welche Versickerungsfähigkeit (kf-Wert) weißt der Boden
                                unterhalb der Rigole auf?</label>
                            <input class="form-control text-input" style="max-width: 15em;" placeholder="" type="text">
                            <select class="custom-select form-control text-input" style="max-width: 15em;">
                                <option value="" selected>Auswahl treffen</option>
                                <option value="de">Option 1</option>
                                <option value="at">Option 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label class="label-objekt">Liegt die Unterkante der Rigole mindestens 1m über dem
                                MHGW(mittleren höchsten Grundwasserspiegel)?</label>
                            <select class="custom-select form-control text-input label-big">
                                <option value="" selected>Auswahl treffen</option>
                                <option value="de">Option 1</option>
                                <option value="at">Option 2</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row" id="muldeRigole" style="display:none;">
                    <div class="content-data">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt">Bitte geben Sie der Mulden-Rigole einen Namen</label>
                                <input class="form-control text-input label-big" placeholder="" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt">Abmessung der Mulde (maximale verfügbare Fläche
                                    angeben)</label>
                                <input class="form-control text-input" style="max-width: 10em;" placeholder="Länge [m]"
                                    type="text">
                                <input class="form-control text-input" style="max-width: 10em;" placeholder="Breite [m]"
                                    type="text">
                                <input class="form-control text-input" style="max-width: 10em;" placeholder="Höhe [m]"
                                    type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt">Abmessung der Rigole (maximale verfügbare Dimension
                                    abgeben)</label>
                                <input class="form-control text-input" style="max-width: 10em;" placeholder="Länge [m]"
                                    type="text">
                                <input class="form-control text-input" style="max-width: 10em;" placeholder="Breite [m]"
                                    type="text">
                                <input class="form-control text-input" style="max-width: 10em;" placeholder="Höhe [m]"
                                    type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt">Speicherkoeffizient der Rigole</label>
                                <input class="form-control text-input label-big" placeholder="[%]" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt">Kf-Wert des Bodens</label>
                                <input class="form-control text-input label-big" placeholder="[m/s]" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt">Verlässt das Wasser die Rigole nur über Versickerung oder
                                    besteht ein zusätzlicher Ablauf?</label>
                                <select class="custom-select form-control text-input label-big" v-model="infiltration">
                                    <option value="" selected>Auswahl treffen</option>
                                    <option value="versickerung">Nur Versickerung</option>
                                    <option value="ablauf">Zusätzlicher Ablauf</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" v-if="infiltration === 'ablauf'">
                            <div class="input-group">
                                <label class="label-objekt">Was sind die minimalen und maximalen Abflussraten des
                                    Ablaufs?</label>
                                <input class="form-control text-input" style="max-width: 15em;"
                                    placeholder="Min Qdros [l/s]" type="text">
                                <input class="form-control text-input" style="max-width: 15em;"
                                    placeholder="Max Qdros [l/s]" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="stauraumkanal" style="display:none;">
                    <div class="content-data">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt">Bitte geben Sie dem Stauraumkanal einen Namen</label>
                                <input class="form-control text-input label-big" placeholder="" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt">Bitte geben Sie die maximalen möglichen Dimensionen des
                                    Stauraumkanals an</label>
                                <input class="form-control text-input" style="max-width: 10em;" placeholder="Länge [m]"
                                    type="text">
                                <input class="form-control text-input" style="max-width: 10em;" placeholder="Breite [m]"
                                    type="text">
                                <input class="form-control text-input" style="max-width: 10em;" placeholder="Höhe [m]"
                                    type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt">Was sind die minimalen und maximalen Abflussraten des
                                    Ablaufs?</label>
                                <input class="form-control text-input" style="max-width: 15em;"
                                    placeholder="Min Qdros [l/s]" type="text">
                                <input class="form-control text-input" style="max-width: 15em;"
                                    placeholder="Max Qdros [l/s]" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="mulde" style="display:none;">
                    <div class="content-data">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt">Bitte geben Sie der Mulde einen Namen</label>
                                <input class="form-control text-input label-big" placeholder="" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt">Abmessung der Mulde (maximale verfügbare Fläche
                                    angeben)</label>
                                <input class="form-control text-input" style="max-width: 10em;" placeholder="Länge [m]"
                                    type="text">
                                <input class="form-control text-input" style="max-width: 10em;" placeholder="Breite [m]"
                                    type="text">
                                <input class="form-control text-input" style="max-width: 10em;" placeholder="Höhe [m]"
                                    type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt">Böschungsneigung [%/100] (z.B. 100%=1; 250%=2,5)</label>
                                <input class="form-control text-input label-big" placeholder="" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt">Kf-Wert des Bodens</label>
                                <input class="form-control text-input label-big" placeholder="[m/s]" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div v-if="type === 'conn'" class="row" style="flex-wrap:nowrap;" id="dachflaechenEntwaesserung">
                    <div class="content-data">
                        <p>Vielen Dank! <br> Sie haben nun alle Dachflächen erstellt. <br class="br-height"> Nun müssen
                            wir betrachten wohin das Regenwasser der einzelnen Dachflächen fließt
                            <br class="br-height"> Dachflächen können direkt in Kanäle oder aber in Elemente zur
                            Regenwasserbewirtschaftung entwässen (Rigole, Sickerschacht, Mulde, etc.) <br>
                            <br> Dachflächen können jedoch auch miteinander verknüpft sein. D.h. der Regenwasserablauf
                            einer Dachfläche kann auf eine andere Dachfläche
                            entwässern (Beispielsweise bei einer extensiven Gründachfläche, deren Regenwasserabfluss
                            über ein Fallrohr auf/in das Gründach auf der Tiefgaragenebene entwässert.)</p>
                        <table>
                            <caption>In der Tabelle aufgeführt sind alle von Ihnen erstellten Dachflächen. <br> Bitte
                                geben Sie an wohin diese entwässern.</caption>
                            <tr class="text-center">
                                <th>Dachfläche</th>
                                <th>Entwässert nach</th>
                                <th>Zuflussbeschränkung [l/s]</th>
                            </tr>
                            <tr class="text-center">
                                <td>Dachfläche X</td>
                                <td> <select class="custom-select form-control text-input"
                                        style="border:none; max-width: 15em;">
                                        <option value="" selected>Auswahl treffen</option>
                                        <option value="de">Kanal</option>
                                        <option value="at">Elemente zur Regenwasserbewirtschaftung</option>
                                    </select>
                                </td>
                                <td>
                                    <input class="form-control text-input label-big" placeholder="" type="text"
                                        style="border:none; max-width: 15em;">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div v-if="type === 'dim'" class="row" id="dimension" style="flex-wrap:nowrap;">
                    <div class="content-data">
                        <p>Sie haben nun alle relevanten Dachfächen und ggf. alle relevanten
                            Regenwasserbewirtschaftungselemente erstellt. <br><br>
                            <span class="text-bold">Als letzte Angabe möchten wir noch wissen, welche
                                wasserwirtschaftlichen Betrachtungen wir für Sie vornehmen dürfen.</span>
                            <br> <br> Alle Leistungen sind für Sie kostenlos. <br> <br> </p>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt">Langzeitsimulation zur Ausweisung einer Wasserbilanz</label>
                                <select class="custom-select form-control text-input label-big">
                                    <option value="" selected>Auswahl treffen</option>
                                    <option value="de">Option 1</option>
                                    <option value="at">Option 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="label-objekt">Überflutungsnachweis</label>
                                <select class="custom-select form-control text-input label-big" v-model="flooding">
                                    <option value="" selected>Auswahl treffen</option>
                                    <option value="true">Ja</option>
                                    <option value="false">Nein</option>
                                </select>
                            </div>
                        </div>

                        <div v-if="flooding === 'true'" class="form-group">
                            <div class="input-group">
                                <label class="label-objekt">Welche Jährlichkeit?</label>
                                <select class="custom-select form-control text-input label-big">
                                    <option value="" selected>Auswahl treffen</option>
                                    <option value="de">10-jährig</option>
                                    <option value="at">30-jährig</option>
                                    <option value="at">50-jährig</option>
                                    <option value="at">100-jährig</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-if="type === 'check'" class="row" id="ueberabsen">
                    <div class="content-data">
                        <p>Sehr gut! <br class="br-height"> Sie haben nun das komplette Rechenmodell erstellt! <br
                                class="br-height"> Untenstehend finden Sie eine Übersicht aller
                            Ihrer erstellten Flächen und eingegeben Informationen zur Kontrolle. <br> Sie haben im
                            folgenden die Möglichkeit uns noch Anmerkungen zu Ihrem Objekt zukommen
                            zu lassen. <br class="br-height"> Wenn alle Angaben korrekt sind, so klicken Sie auf
                            Absenden. Damit wir das Modell an einen unsrer Mitarbeiter zur Bearbeitung
                            übergeben. <br class="br-height"> Dieser Service ist für Sie kostenlos!</p>
                        <textarea name="anmerkungen" id="" cols="50" rows="5" placeholder="Platz für Anmerkungen"
                            class="form-control"></textarea>
                        <div class="form-group login-btn">
                            <button type="submit" class="btn btn-primary btn-block"> Absenden </button>
                        </div>
                    </div>
                </div>

                <div class="row" id="abschluss" style="display:none;">
                    <div class="content-data">
                        <p>Vielen Dank für ihr Vertrauen! <br class="br-height"> <span class="text-bold"> Wir werden uns
                                in den kommenden Tagen bei Ihnen melden</span>
                            <br class="br-height"> Sie werden von uns eine E-Mail mit den aufbereitetenden
                            Berechnungsergebnissen inkl. Erläuterungen sowie Informationen zu den geplanten Produkten
                            erhalten.
                            <br class="br-height"> Außerdem stehen wir Ihnen für Fragen jederzeit gerne telefonisch zur
                            Verfügung.</p>
                    </div>
                </div>

                <div v-if="type !== 'check'" class="forback-div">
                    <button class="fas fa-arrow-left forback"> </button>
                    <button class="fas fa-arrow-right forback"> </button>
            </form>
        </div>
    </div>







    <section id="footer">
        <div class="container">
            <div class="row" id="footer-newsletter">
                <span>Newsletter</span>
                <span class="h3">Jetzt anmelden und immer aktuelle Informationen erhalten!</span>
                <a class="btn" href="https://www.optigruen.de/kontakt/newsletter/">Zur Anmeldung</a>
            </div>
            <div class="row white-line" id="footer-icon">
                <p class="hide-line">&copy; Optigrün international AG, 2019</p>
                <ul class="list-unstyled list-inline social">
                    <li class="list-inline-item social-icon hide-line"> <a
                            href="https://www.facebook.com/pages/Optigr%C3%BCn-international-AG/299731955066">
                            <span class="fab fa-facebook-f icons"> </span></a></li>

                    <li class="list-inline-item social-icon hide-line"><a href="https://twitter.com/optigruen">
                            <span class="fab fa-twitter icons"></span></a></li>
                </ul>

                <img class="hide-line" src="res/logo_footer.svg" alt="Optigrün international AG">
            </div>

            <div class="row" id="footer-imkoda">
                <ul class="list-unstyled list-inline" id="footer-imkoda-line">
                    <div>
                        <li class="list-inline-item"><a href="javascript:void();">Impressum
                            </a> </li>
                    </div>
                    <div>
                        <li class="list-inline-item"><a href="javascript:void();">Datenschutz
                            </a> </li>
                    </div>
                    <li class="list-inline-item"><a href="javascript:void();">Kontakt</a>
                    </li>
                </ul>
                <a href="">Seitenanfang</a>
            </div>
        </div>
    </section>
</body>

</html>