/* Footer */
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}


section {
    padding: 30px 0;
}

section .section-title {
    text-align: center;
    color: #008436;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer {
    background: #008436 !important;
    flex-shrink: 0;
    color: #ffffff;
}

#footer h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #ffffff;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social {
    margin-right: 100px;
}

#footer ul.social li {
    padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 25px;
    margin-left: 25px;
    font-size: 25px;
    border: 1px solid white;
    padding: 10px 10px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
    color: #ffffff;
}

#footer ul.social li a:hover {
    color: #eeeeee;
}

@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

#footer div.container {
    padding-right: 40px;
    padding-left: 40px;
}

@media(min-width:1000px) {
    .white-line {
        position: relative;
        background-color: #008436;
    }

    .hide-line {
        background-color: #008436;
        position: relative;
        z-index: 3;
    }

    .white-line:after {
        content: '';
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        width: 100%;
        border-bottom: 1px solid #fff;
        z-index: 1;
    }
}

p.hide-line,
img.hide-line {
    padding-left: 5px;
    padding-right: 5px;
}

.list-inline {
    display: inline-block;
}

.list-inline-item {
    border: 0.001rem solid white;
}

.list-inline-item:not(:last-child) {
    margin-right: 1.5rem;
}

.icons {
    margin: 15px 15px 15px 15px;
    font-size: 1.25em;
    width: 1.25em;
    text-align: center;
}

.social-icon:hover {
    background: #68b022;
    border: none;
}

#footer div.row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#footer-newsletter.row {
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    text-align: center;
}

#footer-newsletter span.h3 {
    max-width: 450px;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0.6rem;
    margin-bottom: 1rem;
}

#footer-newsletter a.btn {
    border: 1px solid #ffffff;
    border-radius: 0;
    font-size: 1.1rem;
    text-transform: uppercase;
}

#footer-newsletter a.btn:hover {
    background: #68b022;
    border: 1px solid #68b022;
}

#footer-icon.row {
    padding-left: 120px;
    padding-right: 120px;
}

#footer-imkoda.row {
    margin: auto;
    padding-left: 70px;
    padding-right: 140px;
}

#footer-imkoda-line {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 2em;
}

#footer-imkoda-line>div {
    border-right: 1px solid white;
}

#footer-imkoda-line>div>li {
    border: none;
    margin-right: 1em;
    margin-left: 1em;
}

#footer-imkoda-line>li {
    border: none;
    margin-left: 1em;
}

.line-v {
    display: flex;
    align-items: baseline;
}


/* Header */

#header.container {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 10px 0 25px 0;
    border-bottom: 1px solid;
    border-bottom-color: #bebebe;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: inherit;
    
}

.logo-header {
    width: 130%;
}

.navbar-buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

@media (min-width: 992px) {
    .container {
        max-width: 98%;
    }
}

.btn-header {
    color: #008436;
    border: 2px solid;
    border-color: #008436;
    background: #ffffff;
    font-size: 100%;
    margin-right: 1rem;
    font-weight: 600;
}

.btn-header:hover {
    background: #008436;
    color: #ffffff;
}

.btn-header:focus {
    box-shadow: none;
}

.btn-default:hover {
    background: #68b022;
}

/*Ueberschrift*/
@media(min-width: 500px) {
    div.kreis {
        display: inline-block;
        background-color: #008436;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
    }
}


span.name {
    position: absolute;
    /*Absolute Positionierung - aus dem Textfluss rausgenommen kann frei plaziert werden*/
    left: 90px;
    /*Abstand von der oberen li. Ecke nach links*/
    top: 190px;
    /*Abstand von der oberen li. Ecke nach oben*/
    color: red;
    /*schriftfarbe*/
    font-weight: 800;
    /*schriftstärke/-größe*/
    background-color: rgba(0, 0, 0, 9);
    /*Hintergrundfarbe*/
}


hr.new5 {
    border: 10px solid black;
    border-radius: 5px;
}

.kreistest {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

@media(min-width: 1000px) {
    .kreistest:before {
        display: inline-block;
        content: " ";
        width: 360px;
        height: 6px;
        border-top: 2.3px solid #008436;
        margin-right: 0.6em;
    }

    .kreistest:after {
        display: inline-block;
        content: " ";
        width: 360px;
        height: 6px;
        border-top: 2.3px solid #008436;
        margin-left: 0.6em;
    }
}

@media(min-width: 500px) and (max-width: 999px) {
    .kreistest:before {
        display: inline-block;
        content: " ";
        width: 180px;
        height: 6px;
        border-top: 2.3px solid #008436;
        margin-right: 0.6em;
    }

    .kreistest:after {
        display: inline-block;
        content: " ";
        width: 180px;
        height: 6px;
        border-top: 2.3px solid #008436;
        margin-left: 0.6em;
    }
}

.text-top {
    margin-top: 2em;
    font-weight: bold;
}

.login-prompt {
    margin-top: 0.7em;
    font-weight: bold;
}

/* login */
.login {
    margin-top: 2em;
    display: block !important;
    max-width: 400px !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #008436;
    outline: 0;
    box-shadow: none;
}

.btn-none {
    background:none;
    color: #007bff;
    border:none; 
    padding:0;
    font: inherit;
    cursor: pointer;
}

.btn-none:focus {
    box-shadow: none;
    outline: 0;
}

.btn-none:hover {
    color: #0056b3;
}

.fehlerhaft {
    border-color: red;
}

.btn-primary {
    color: #fff;
    background-color: #008436;
    border-color: #008436;
    max-width: 13em;
}

.btn-primary:hover {
    color: #fff;
    background-color: #68b022;
    border-color: #68b022;
}

.btn-primary:focus {
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #68b022;
    border-color: #68b022;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

.btn-show-pass {
    font-size: 15px;
    color: #999999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 15px;
    padding: 0 5px;
    cursor: pointer;
    -webkit-transition: background 0.4s;
    -o-transition: background 0.4s;
    -moz-transition: background 0.4s;
    transition: background 0.4s;
}

.btn-show-pass:hover {
    color: #68b022;
}

.btn-show-pass.active {
    color: #68b022;
}

a:hover {
    text-decoration: none;
}

.show-eye {
    z-index: 4;
}

.login-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 0.7em;
}

.input-group-text {
    width: 40px;
}

.fa-map-marker-alt {
    font-size: 20px;
}


/*Benutzerbereich*/


.profile-usermenu {
    margin-top: 1em;
    padding: 0px !important;
}

.profile-user {
    padding-top: 1em;
    padding: 20px;
    border: 1px solid #bebebe;
    max-width: 30em;
    max-height: 19em;
    margin-right: 5em;
    border-radius: 5px;
}

.profile-user>h4 {
    border-bottom: 1px solid #bebebe;
    padding-bottom: 20px;
}

.nav-user {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: column;
}

.nav-user>li:not(:last-child) {
    border-bottom: 1px solid #bebebe;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

.nav-user>li>button:focus {
    box-shadow: none;
}

.user-icons {
    margin-right: 2em;
    margin-left: 2em;
    font-size: 20px;
}

.order-content {
    padding: 20px;
    min-height: 460px;
}

.new-c {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    margin-bottom: 2em;
}

.change-data {
    width: 25%;
}

.user-heading {
    margin-top: 1em;
    margin-bottom: 1em;
}


/*Objektanlage Übersicht */

table {
    border: 1px solid #bebebe;
    margin-top: 3em;
}

tr,
th,
td {
    border: 1px solid #bebebe;
    padding: 0.5em 0.5em 0.5em 0.5em;
    word-wrap: normal;
    width: 12em;

}

th {
    color: #008436;
}

.table-s {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

caption {
    caption-side: top !important;
    color: black;
    margin-bottom: 0.5em;
}

/*Objektanlage */

.object-navbar {

    padding: 20px;
    border: 1px solid #bebebe;
    max-width: 30em;
    max-height: 38.5em;
    margin-right: 5em;
    margin-bottom: 2em;
    margin-top: 1em;
    border-radius: 5px;
    margin-left: 1em;
}

.object-navbar>h4 {
    border-bottom: 1px solid #bebebe;
    padding-bottom: 20px;
}

@media (max-width:1098px) {
    .object-navbar {
        border: 0px;
    }
}

.object-navbarGreen {
    padding: 20px;
    border: 1px solid #bebebe;
    max-width: 30em;
    max-height: 34em;
    margin-right: 5em;
    margin-bottom: 2em;
    margin-top: 1em;
    border-radius: 5px;
    margin-left: 1em;
}
.object-navbarGreen>h4 {
    border-bottom: 1px solid #bebebe;
    padding-bottom: 20px;
}

@media (max-width:1098px) {
    .object-navbarGreen {
        border: 0px;
    }
}

.object-navbarPublic {
    padding: 20px;
    border: 1px solid #bebebe;
    max-width: 30em;
    max-height: 36em;
    margin-right: 5em;
    margin-bottom: 2em;
    margin-top: 1em;
    border-radius: 5px;
    margin-left: 1em;
}
.object-navbarPublic>h4 {
    border-bottom: 1px solid #bebebe;
    padding-bottom: 20px;
}

@media (max-width:1098px) {
    .object-navbarPublic {
        border: 0px;
    }
}
.object-navbarEmpty {
    padding: 20px;
    border: 1px solid #bebebe;
    max-width: 30em;
    max-height: 29em;
    margin-right: 5em;
    margin-bottom: 2em;
    margin-top: 1em;
    border-radius: 5px;
    margin-left: 1em;
}
.object-navbarEmpty>h4 {
    border-bottom: 1px solid #bebebe;
    padding-bottom: 20px;
}

@media (max-width:1098px) {
    .object-navbarEmpty {
        border: 0px;
    }
}


.list-in-list {
    margin-bottom: 0;
    list-style: none;
    flex-direction: column;
}

.list-in-list>li>button:focus {
    box-shadow: none;
}

.br-height {
    line-height: 300%;
}

.text-bold {
    font-weight: bold;
}

.forback {
    font-size: 2em;
    width: 2em;
    background-color: white;
    color: #008436;
    border: none;
    border-left: 1px solid #bebebe;
    align-self: flex-end;
}

.forback:not(:last-child) { 
    border: none;
}

.forback:focus {
    box-shadow: none;
    outline: 0;
}

.forback-div { 
    display:flex; 
    flex-direction: row;
    margin-top: 3em;
    margin-bottom: 2em;
    justify-content: right;
    align-self: flex-end;
}

.div-data { 
    display: flex; 
    flex-direction: column;
    min-width: 0px;
    max-width: inherit;
    box-sizing: border-box;
    width: 100%;
}

.content-data { 
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    flex: 0 66.666666%;
}

.text-input { 
    margin-left: 1em;
    margin-right: 0px;
    align-self: center;
}

.color-input { 
    border: 1px solid black; 
    max-width: 15em !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.label-objekt {
    width: 20em;
    text-align: right;
    margin-right: 1em;    
    align-self: center;
    
 
}

.label-big { 
    max-width: 30em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.text-underline { 
    text-decoration: underline;
}

textarea { 
    resize: none;
    max-width: 20em;
}

#ueberabsen > div {
    margin-top: 2em;
}

.imgDf { 
    margin-left: 4em; 
    height: 100%;
    width: 100%; 
    max-height: 80%;
    max-width: 25%;
}

.imgGreen {
    height: 100%; 
    width: 100%; 
    max-height: 80%; 
    max-width: 35% !important;
}

.maxWidth { 
    max-width: 10em;
}

.maxWidthDropdown { 
    max-width: 15em;
}
.btn-newObject { 
    display: flex; 
    justify-content: center; 
    margin-top: 1.5em; 
}
/* Dachflächen Dropdown */

.dropdownDF { 
    max-width: 20%; 
    background-color: #008436 !important;
     color: white !important;
}

.flex {
    display: flex;
    flex-direction: row;
}

.divDropdown {
    max-width: 20em; 
    width: 50%;
    margin-right: 0.5em;
}

.divTwo { 
    max-width: 20em; 
    width: 50%;
}

/* Kontakt */
.overlay { 
    position: fixed; 
    width: 400px; 
    height: 100%; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    background-color: white; 
    z-index: 4;
    transition:  transform 1s, -webkit-transform 1s;
    transform: translateX(400px);
}

.overlay-show { 
    position: fixed; 
    width: 400px; 
    height: 100%; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    background-color: white; 
    z-index: 4;
    transition:  transform 1s, -webkit-transform 1s;
    transform: translateX(0);
}

.btnKontakt {
    right: 100%;
    top: 50%; 
    bottom: auto; 
    position: absolute; 
    z-index: 4;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;

}

.clip-circle { 
    clip-path: circle(36px at center);
    height: 32%; 
    width: 32%;
  
}
.KontaktLogo { 
    max-width: 200px; 
    margin-top: 2em; 
    margin-left: 11em; 
}

.kontaktH3 { 
    margin-top: 2em;
    color: #9ba7c2;
    font-weight: 300; 
    font-size: 2rem;
}

.kontaktP { 
    margin-top: 1em; 
    margin-bottom: 2em; 
    color: #7986a3; 
}

.kontaktH5 {
    margin-top: 0.5em; 
    color: #7986a3; 
    font-weight: 500;
}

/*Kontaktkarte:*/
.allKontaktkarte { 
    display: flex; 
    flex-direction: row; 
    align-items: flex-start;
    margin-bottom: 1em; 
    margin-left: none;
}

.nameKontakt { 
    color: #7986a3; 
    font-weight: bold;
}

.kontaktdaten { 
    color: #9ba7c2; 
}
/* Abschluss: */
.end { 
    display: flex; 
    justify-content: center;
}

.ueberpruefen { 
    display: flex; 
    justify-content: flex-start; 
    margin-top: 1.5em;
}

/* Irgendwie überall mal gebraucht:*/

.flexNo { 
    flex-wrap: nowrap;
}